* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .hero__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        margin-bottom: 13vh;

        .hero__title {
            font-size: medium;
        }

        #hero_reset-btn {

        }
    }

    .hero__statement-title {
        margin: 20px;
    }

    .hero__statement-text {
        margin: 20px;
        font-size: 16px;
    }
}