* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .hero__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 6vw;
        margin-bottom: 13vh;

        .hero__title {
            font-size: medium;
        }

    }

    .hero__statement-title {
        margin: 6vw;
    }

    .hero__statement-text {
        margin: 6vw;
        font-size: 16px;
    }

    #newTask {
        display: flex;
        justify-content: center;
    }

    #taskList {
        padding-top: 5vh;
        margin: 6vw;

        #taskList__title {
            margin-bottom: 4vh;
        }

        #taskList__list {
            list-style: none;
        }
    }

    #task__number {
        margin-top: 3vh;
    }
}

li {
    margin-bottom: 5vw;
    // min-width: 50vw;
    background-color: rgba(194, 194, 194, 0.521);
}

.checkBox {
    margin-right: 4vw;
}